<%= form_for @user do |f| %>
  <div class = "form-group">
  <%= f.label :username %></br>
  <%= f.text_field :username %>
  </div>
  <div class = "form-group">
  <%= f.label :first_name %></br>
  <%= f.text_field :first_name %>
  </div>
  <div class = "form-group">
  <%= f.label :last_name %></br>
  <%= f.text_field :last_name %>
  </div>
  <div class = "form-group">
  <%= f.label 'E-mail' %></br>
  <%= f.text_field :email %>
  </div>
  <div class = "form-group">
  <%= f.label "Create a password" %></br>
  <%= f.password_field :password %>
  </div>
  <div class = "form-group">
  <%= f.label "Please confirm your password" %></br>
  <%= f.password_field :password_confirmation %>
  </div>
  <div class = "form-group">
  <%= f.label "Please select your company from the list below" %></br>
  <%= f.collection_select(:company_id, Company.sorted, :id, :name, prompt: "---") %>
  </div>
  <div class = "form-group">
  <%= f.label "Cooking Experience (1 being Novice, 5 being Expert)" %></br>
  <%= f.select :experience, ['Complete Newbie', 'Novice', 'Average', 'Advanced', 'Master Chef'], prompt: "---" %>
  </div>
  <%= f.submit submit_text %></br>

<% end %>
