<h1><%= @user.username %></h1>

<div>
  <p>Name: <%= @user.full_name %></p>
  <p><a href="mailto:<%= @user.email %>?subject=MealSwap">Contact</a></p>
  <p>Company: <%= @user.company_name %></p>
  <p>Cooking Experience: <%= @user.experience %></p>
