<h1><%= @user.username %></h1>

<div>
  <p>Name: <%= @user.full_name %></p>
  <p>E-mail: <a href="mailto:<%= @user.email %>?subject=MealSwap"><%= @user.email %></a></p>
  <p>Company: <%= @user.company_name %></p>
  <p>Cooking Experience: <%= @user.experience %></p>

<div>
  <h2>Meals Prepared</h2>
      <% @user.meals.each do |m| %>
        <p><%= link_to m.name, m %></p>
      <%end%>
</div>
<div>
  <h2>Meals Booked</h2>
      <% @user.booked_meals.each do |bm| %>
        <p><%= link_to bm.meal_name, bm.meal %>
      <%end%>
</div>
