<h1><%= @user.username %></h1>

<div>
  <p>Name: <%= @user.full_name %></p>
  <p>E-mail: <a href="mailto:<%= @user.email %>?subject=MealSwap"><%= @user.email %></a></p>
  <p>Company: <%= @user.company_name %></p>
  <p>Cooking Experience: <%= @user.experience %></p>

<div>
  <h2>Meals Prepared</h2>
  <div class="meal_index">
      <% @user.meals.each do |m| %>
        <div class="meal_photo"><%= image_tag m.image, :size=>"200x200" %><br>
        <span><%= link_to m.name, m %></span></div>
      <%end%>
</div>
<div>
  <h2>Meals Booked</h2>
  <div class="meal_index">
      <% @user.booked_meals.each do |bm| %>
        <div class="meal_photo"><%= image_tag bm.meal.image, :size=>"200x200" %><br>
        <%= link_to bm.meal_name, bm.meal %></div>
      <%end%>
</div>
