<h1>Meal Name: <%= @meal.name %></h1>
<h2>Chef: <%= link_to @meal.chef_username, @meal.chef %></h2>
<h3> Calories: <%= @meal.calories %></h3>
<h3> Ingredients: <%= @meal.ingredients %></h3>
<h3> Decription: <%= @meal.description %></h3>
<h3> Preparation Time: <%= @meal.prep_time %></h3>


<% if @meal.image.attached? %>
<!-- @meal.image.present? will always return true, use attached? to check presence -->
  <p>
    <%= image_tag @meal.image %>
  </p>
<% end %>

<% if !current_user.nil? %>
  <%= form_tag meal_bookings_path do %>
    <%= hidden_field_tag :meal_id, @meal.id %>
    <%= hidden_field_tag :booker_id, current_user.id %>
    <%= submit_tag 'Book This Meal'%>
  <%end%>
<% end %>



  <%= link_to "Return to Meals Index", meals_path %>
  <% if !current_user.nil? && current_user.id == @meal.chef_id %>
      <%= link_to "Edit this Meal", edit_meal_path %>
      <%= form_tag @meal, method: "DELETE" do %>
      <%= submit_tag "Delete This Meal" %>
      <% end %>
  <% end %>
