<div class="meal-page">
<h2>Meal Name: <%= @meal.name %></h2>
<h2>Chef: <%= link_to @meal.chef.username, @meal.chef %></h2>
<p> Calories: <%= @meal.calories %></p>
<p> Ingredients: <%= @meal.ingredients %></p>
<p> Decription: <%= @meal.description %></p>
<p> Preparation Time: <%= @meal.prep_time %></p>


<% if @meal.image.attached? %>
<!-- @meal.image.present? will always return true, use attached? to check presence -->
  <%= image_tag @meal.image, class:"meal-img" %>
<% end %>

<% if !current_user.nil?%>
<% if flash.notice %>
    <h3 class="warning-div"><%= flash.notice %></h3>
<% end %>
  <%= form_tag meal_bookings_path do %>
    <%= hidden_field_tag :meal_id, @meal.id %>
    <%= hidden_field_tag :booker_id, current_user.id %>
    <%= submit_tag 'Book This Meal', class: 'btn btn-danger btn-lg'%>
  <%end%>
<% end %>


<br>
  <%= link_to "Return to Meals Index", meals_path %>
  <% if !current_user.nil? && current_user.id == @meal.chef_id %>
      |
      <%= link_to "Edit this Meal", edit_meal_path %>
      <%= form_tag @meal, method: "DELETE" do %>
      <%= submit_tag "Delete This Meal" %>
      <% end %>
  <% end %>
</div>
