<h2>Meal Name: <%= @meal.name %></h2>
<h2>Chef: <%= link_to @meal.chef.username, @meal.chef %></h2>
<p> Calories: <%= @meal.calories %></p>
<p> Ingredients: <%= @meal.ingredients %></p>
<p> Decription: <%= @meal.description %></p>
<p> Preparation Time: <%= @meal.prep_time %></p>


<% if @meal.image.attached? %>
<!-- @meal.image.present? will always return true, use attached? to check presence -->
  <p><%= image_tag @meal.image %></p>
<% end %>




<%= form_tag meal_bookings_path do %>
  <%= hidden_field_tag :meal_id, @meal.id %>
  <%= hidden_field_tag :booker_id, current_user.id %>
  <%= submit_tag 'Book This Meal'%>
<%end%>

<%= form_tag @meal, method: "DELETE" do %>
    <%= submit_tag "Delete This Meal" %>
<% end %>
  <%= link_to "Return to Meals Index", meals_path %>
  <%= link_to "Edit this Meal", edit_meal_path %>
