<!DOCTYPE html>
<html>
  <head>
    <title>Mealswap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/meals">MealSwap</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/meals/new">Create a Meal</a></li>
          <% if cookies.has_key? "current_user" %>
          <li><a href="/logout">Logout</a></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <div class="jumbotron">
    <div class="container">
      <% if cookies.has_key? "current_user" %>
      <h2>Welcome, <%= link_to current_user.first_name, current_user %></h2>
      <%= link_to "Edit Profile", edit_user_path(current_user) %> | <%= link_to "Log Out", logout_path %></p>
    <% else %>
      <h2>Welcome! Please register <%= link_to "here", new_user_path %></p>
      <% end %>
    </div>
  </div>





  <%= yield %>



<footer class="text-center">
  <a class="up-arrow" href="/login" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>MealSwap <%= Date.current %></p>
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();
})
</script>




  </body>
</html>
