<!DOCTYPE html>
<html>
  <head>
    <title>Mealswap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="meals">MealSwap</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="meals/new">Create a Meal</a></li>
          <li><a href="users">Users</a></li>
        </ul>
      </div>
    </nav>


    <div class="header">
      <% if cookies.has_key? "current_user" %>
      <h2>Welcome <%= current_user.first_name %></h2>
  <p><%= link_to "Edit Profile", edit_user_path(current_user) %> | <%= link_to "Log Out", logout_path %></p>
    <% else %>
      <p><%= link_to "Log In", login_path %></p>
      <% end %>
    </div>
    <%= yield %>




  </body>
</html>
