<!DOCTYPE html>
<html>
  <head>
    <title>Mealswap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if cookies.has_key? "current_user" %>
      <% @user = User.find_by(username: cookies[:current_user]) %>
      <h2>Welcome <%= @user.first_name %></h2>
      <p class="right"><%= link_to "Log Out", logout_path %></p>
    <% else %>
      <p><%= link_to "Login In", login_path %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
